body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    width: 85%; 
    margin: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #222;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-posts h1 {
    text-align: center;
    color: #fff;
}

.campos-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
}

.campos-form label {
    color: #fff;
    font-size: 14px;
}

.campos-form input {
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #999;
    padding: 5px;
}

input[type="file"] {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-posts img {
    width: 380px;
    height: 180px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#preview {
    display: none;
}

.form-posts button {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.div_msg {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.post h4 {
    margin-left: 5%;
}

.post img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.titulo {
    margin-top: 10px;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
}

.descricao {
    margin-left: 5%;
    color: #444;
}

.data {
    margin-left: 5%;
    margin-bottom: 10px;
}





