body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: auto;
}

.header {
    background-color: #222;
    width: 100%;
    height: 80px;
}

.header .links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #fff;    
}

.header img {
    width: 200px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main {
    width: 85%; 
    margin: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-posts .container {
    display: flex;
    justify-content: flex-end;
}

.form-posts .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #222;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: static;
}

.conteudo h1 {
    text-align: center;
    color: #fff;
}

.campos-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
}

.campos-form label {
    color: #fff;
    font-size: 14px;
}

.campos-form input {
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #999;
    padding: 5px;
}

input[type="file"] {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.conteudo img {
    width: 380px;
    height: 180px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#preview {
    display: none;
}

.form-posts button {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.div_msg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.post h4 {
    margin-left: 5%;
}

.post img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.botao-curtir {
    font-size: 20px;
    margin-top: 10px; 
    border: none; 
    background: none; 
    cursor: pointer;
    text-align: left;
    margin-left: 4%;
}

.qtd-curtidas {
    display: flex;
    margin-left: 5%;
}

.titulo {
    margin-top: 10px;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
}

.descricao {
    margin-left: 5%;
    color: #444;
}

.data {
    margin-left: 5%;
    margin-bottom: 10px;
}

.footer .container {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #222;
    margin-top: 80px;
}

.footer .logo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 50px;
}

.footer .logo img {
    width: 300px;
}

.footer .logo span {
    width: 400px;
    color: #fff;
    font-size: 12px;
}

.footer .redes {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    gap: 35px;
}

.footer .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 50px;
    width: 100%;
    margin-top: 35px;
    color: #fff;
    text-align: center;
}


.footer .conteudo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    width: 250px;
} 

.feito_por {
    width: 100%;
}

.feito_por .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #000;
    color: #fff;
}
/* Fim footer  */