* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.menu-lateral {
    width: 200px;
    height: 100%;
    display: flex;
    position: fixed;
    background-color: #1C1F20;
}

.menu-lateral .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo {
    display: flex;
    height: 80px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.conteudo-principal a {
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.botao_sair {
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.botao_sair:hover {
    background-color: rgba(255, 0, 0, 0.781)
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 240px;
}

.titulo {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.kpis .container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.kpis .card {
    background-color: #fff;
    height: 100px;
    width: 250px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;    
}

.info {
    display: flex;
    flex-direction: column;
}

.info .titulo {
    font-weight: bold;
    font-size: 16px;
}

.info .dado {
    font-weight: lighter;
    font-size: 18px;
}

.tabela {
    margin-top: 50px;
}

.tabela h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabela-container {
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    #tabela-usuarios {
      width: 100%;
      border-collapse: collapse;
    }

    #tabela-usuarios th {
      background-color: #1e88e5;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    #tabela-usuarios th,
    #tabela-usuarios td {
      padding: 12px 16px;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
    }

    #tabela-usuarios tbody tr:hover {
      background-color: #f9f9f9;
    }