.footer .container {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #222;
    margin-top: 80px;
}

.footer .logo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 50px;
}

.footer .logo img {
    width: 300px;
}

.footer .logo span {
    width: 400px;
    color: #fff;
    font-size: 12px;
}

.footer .redes {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    gap: 35px;
}

.footer .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 50px;
    width: 100%;
    margin-top: 35px;
    color: #fff;
    text-align: center;
}


.footer .conteudo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    width: 250px;
} 

.feito_por .container {
    width: 100%;
}

.feito_por .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    background-color: #000;
    color: #fff;
}

.feito_por a {
    color: #fff;
}