body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header */

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: auto;
}

.header {
    background-color: transparent;
    width: 100%;
    height: 80px;
    z-index: 2;
    position: absolute;
    margin-top: 10px;
}

.header .links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #fff;    
}

.header img {
    width: 200px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

/*Fim Header */

/* Banner */

.banner .container{
    width: 100vh;
    height: 90vh;
}

.banner .fundo {
    width: 100%;
    height: 90%;
    position: absolute;
}

.banner .fundo img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    filter: brightness(50%);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
/* Fim banner */

/* Conteudo principal */

main {
    width: 80%; 
    height: 80%; 
    margin: auto; 
}

/* Introdução */

.sobre-site .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-site .container .title {
    font-size: 34px;
    margin-top: 0px;
}

.sobre-site .container .description {
    text-align: center;
    margin-top: 20px;
}

/* Fim introdução */

/* modelos */

.card {
      background-color: white;
      max-width: 900px;
      margin: 0 auto;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    }

.card .title {
      font-size: 28px;
      color: #333;
      margin-bottom: 20px;
      border-bottom: 2px solid #ddd;
      padding-bottom: 10px;
    }

    .images {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    .images img {
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      object-fit: cover;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    }

    .info {
      font-size: 16px;
      color: #444;
      line-height: 1.6;
    }

    .info ul {
      padding-left: 20px;
    }

    .info li::before {
      content: "• ";
      color: #0b6e99;
      font-weight: bold;
    }

    .badge {
      display: inline-block;
      background-color: #0b6e99;
      color: white;
      padding: 6px 14px;
      border-radius: 12px;
      font-size: 14px;
      margin-right: 10px;
    }

/* Fim modelos */

/* Fim conteudo principal */

/* Footer  */

.footer .container {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #222;
    margin-top: 80px;
}

.footer .logo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 50px;
}

.footer .logo img {
    width: 300px;
}

.footer .logo span {
    width: 400px;
    color: #fff;
    font-size: 12px;
}

.footer .redes {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    gap: 35px;
}

.footer .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 50px;
    width: 100%;
    margin-top: 35px;
    color: #fff;
    text-align: center;
}


.footer .conteudo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
    width: 250px;
} 

.feito_por .container {
    width: 100%;
}

.feito_por .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #000;
    color: #fff;
}
/* Fim footer  */